header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;
    display:flex;
    height:115px;
    
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 94%;
        width: 100%;
        align-items: center;
        padding: 0 !important;
        
        &_left {
            display: flex;
            width: auto;
            justify-content: flex-start;

            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;

                .custom-logo {
                    max-height: 74px;
                    max-width: 340px;
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }
    }
}